.foodeliver-color {
    color: $primary ;
}

.landing-page-input {}

.bg-white {
    background-color: white;
}

.footer-bg {
    background: var(--footer-bg);
}

.nav-style {
    // box-shadow: 0px 0px 20px -5px;
}

.navbar-user-img {
    width: 45px;
    height: 45px;
}