$primary: #247142;
$bg: #ebfbdd;
$titleColor: #063717;
$highlight: #109b43;
$theme-colors: (
    "primary": $primary,
);
$customeColor: (
    "bg": $bg,
    "title-color" : $titleColor,
    "highlight" : $highlight
);


// Merge the maps
$theme-colors: map-merge($theme-colors, $customeColor);